/* colors:
dark blue: #384167
*/

.view-search {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.view-landing {
  min-height: 100vh;
  padding-top: 30%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.open-row,
.sort-row {
  text-align: right;
}

select {
  width: 100%;
}

.start-search-button {
  margin-top: 50px;
  margin-bottom: 30px;
}

header {
  margin-bottom: 7px;
}

form {
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

label {
  display: inline;
  margin-right: 5px;
}

.option-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column-half {
  width: 45%;
}

.button-div {
  display: flex;
  justify-content: space-between;
}

.reset-button,
.submit-button {
  width: 150px;
  height: 25px;
  border-radius: 10px;
}

footer {
  margin-top: auto;
  height: 50px;
}

.bottom-nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9baadb;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .view-landing {
    min-height: 100vh;
    padding-top: 5%;
  }

  .column-fourth {
    width: 24%;
  }

  .option-row > div {
    display: flex;
  }

  .button-div {
    display: flex;
    justify-content: end;
  }

  .reset-button {
    margin-right: 20px;
  }
}
